.body_area{
	position:absolute;
	left:35%;
	
	top:13%;
	width:700px;
	height:500px;
}
.info_right{
	position:absolute;
	top:20%;
	left:20%;
	width:50%;
	height:100px;
	color:#000000;
	font-size:20px;
	font-weight:bold;
}
.sear_query{
	position:absolute;
	margin-top:13%;
	margin-left:15%;
}
.opacity_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#000;
	opacity:0.6;
	margin:auto;
	z-index:9999999;
	display:none;
}
.date_end{
	position:absolute;
	margin-top:0%;
	margin-left:13%;
	font-size:20px;
}
.record_show{
	left:20%;
	top:15%;
}
#test1.#test2{
	width:100px;
	height:30px;
}
#dept{
	position:absolute;
	top:20%;
	left:79%;
}
.showPage{
		position:absolute;
		bottom:7%;
		left:52%;
}