body{
	overflow:hidden;

}
.body_content{
	position:absolute;
	border-radius:5px;
	left:23%;
	top:2%;
	width:700px;
	height:500px;
	color:#000;
	/*border: 1px solid #0080c0;*/

}
.body_logo{
	position:absolute;
	margin-top:-20px;
	margin-left:-20px;
	color:#fff;
	width:100%;
	height:40px;
	font-weight:bold;
	font-size:25px;
	background:#0080c0;
}
.body_magnage{
	border-radius:5px;
	padding-top:20px;
	width:120px;
	height:480px;
	border:1px solid #00ffff;
	text-align:center;
	color:#000000;
	font-size:15px;
	font-family:Arial;
}
.body_cude{
	border-radius:5px;
	margin-top:2%;
	width:700px;
	height:500px;
	/*border:1px solid #80ffff;*/
}
.body_opcation{
	margin-left:17%;
	padding-left:20px;
	width:560px;
	height:100px;
	/*border:1px solid #80ffff;*/
}
#search{
	margin-top:5%;
	margin-left:10%;
	/*border-radius:3px;*/
	width:80px;
	height:20px;
}

#add{
	margin:50px;

}
.show,.up_show,.record_show{
	border-radius:5px;
	position:fixed;
	padding:10px;
	margin-left:20%;
	width:250px;		/*250*/
	height:300px;		/*300*/
	/*border:1px solid red;*/	
	color:#000000;
	background:#ffffff;
	z-index:9999999999;
	font-size:5px;
}
.opacity_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#000;
	opacity:0.6;
	margin:auto;
	z-index:9999999;
	display:none;
}
input{
	margin:10px;
	border-radius:3px;
}
.inpuWH{
	width:200%;
	height:150px;
}
.btn{
	margin-left:20px;
}
.table_info{
	color:#000000;
	border:1px solid #80ffff;
	margin-left:18%;
	margin-top:15px;
}

.sure_del{
	position:absolute;
	left:40%;
	top:30%;
	border-raduis:5px;
	width:350px;
	height:150px;
	background:#ffffff;
	z-index:9999999999;
}
.del_close{
	position:absolute;
	left:55%;
	top:60%;
}
.del_sure{
	position:absolute;
	left:25%;
	top:60%;
}
.page{
	position:absolute;
	bottom:7%;
	left:46%;
}
.delete,.update{
	width:100%;
}
.styleWH{
	width:100%;
	height:32px;
	margin-bottom:10px;
}
#info_del{
	position:absolute;
	left:30%;
	top:20%;
}
.selDivWH{
	width:79%;
	height:38px;
	margin-bottom:10px;
	border-radius:6px;
	border:1px solid #3e9eff;
}
