.body_border{
	position:absolute;
	left:27%;
	width:55%;
	height:83%;
	border:2px solid #0080ff;
}
.intro{
	position:absolute;
	left:35%;
	top:2%;
	font-weight:bold;
	font-size:17px;
}
.text{
	position:absolute;
	top:8%;
}