html,body{
	overflow:hidden;
}
.body{
	position:absolute;
	width:100%;
	height:100%;
}
.body_logo span{
	margin:0px;
}
.body_data{
	width:100%;
	height:100%;

}
.search{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:150px;
}
.title{
	position:absolute;
	left:33%;
	top:5%;
	padding-left:10px;
	width:100%;
	height:30px;
	font-size:20px;
	color:#0080c0;
}
.td{
	width:205px;
	height:30px;
	text-align:right;
}
.search_tab{
	position:absolute;
	top:25%;
	left:20%;
	margin-left:10px;
	padding:5px;
}
#sea_btn{
	text-align:center;
}
.cale{
	text-align:left;
}
.show_record{
	position:absolute;
	left:14%;
	top:23%;
	margin-left:9px;
	width:100%;
	height:415px;
}
.record{
	background:#f5fae6;
	text-align:center;

	width:91%;
}
.page{
	margin-left:10px;
	width:91%;
	height:37px;
	background:#f5fae6;
}
.pagination{
	margin-top:0;
	margin-left:40%;
}
#tt{
	position:absolute;
	top:20%;
	left:50%;
	
}
.dataExcel{
	position:absolute;
	top:16%;
	left:88%;
}